# General ignores
target

# .dot file generate
*.gv

# Visual Studio
.vscode/

# Build directory
*build

# Dependency related ignores
crates/mmk_parser/target

crates/generator/target

crates/builder/target

crates/external/target

crates/error/target

crates/dependency/target

crates/utility/target
