# General ignores
target

# .dot file generate
*.gv

# Visual Studio
.vscode/

# Build directory
*build

# Dependency related ignores
mmk_parser/target

generator/target

builder/target

external/target

error/target

dependency/target

utility/target
